# Clue 4

https://www.khanacademy.org/computing/computer-science/cryptography/cryptochallenge/a/clue-4

![hint1](img/hintclue4_2.jpg)

![hint1](img/hintclue4_3.jpg)

![hint1](img/hintclue4.jpg)

![hint1](img/hintclue4_4.jpg)

In [39]:
examplenewspaper = "0010011000010100101001001001101010100101"
examplenewspapertext = "brilliantdrivendemandingpassionateprecise"

![newspaper](img/newspaper.jpg)

![clue4](img/clue4.jpg)

![clue4](img/clue4_sol.jpg)

In [23]:
import string

import numpy as np
import pandas as pd

In [9]:
transcript = [[2, 0], [3, 3], [2, 2], [2, 1], [0, 0], [3, 3], [3, 0], [0, 1], [0, 2], [2, 0], [2, 2], [0, 2], [3, 2], [2, 0], [1, 1], [3, 3], [0, 3], [3,0], [0,3],[3,2],[0,3],[0,0],[2,2],[0,1],[3,3],[2,3],[2,3],[1,1],[0,3],[2,2],[3,2],[3,1],[2,0],[0,1],[1,1],[0,3],[2,2],[2,0],[2,0],[2,0],[2,2],[3,3],[2,0],[1,2],[2,3],[1,3],[3,3],[2,2],[3,0],[3,3],[0,1],[2,0],[2,1],[1,0],[1,2],[1,1],[0,0],[3,2],[2,3],[1,3],[2,2],[0,2],[0,0],[1,0],[3,1],[0,2],[3,3],[2,0],[3,1],[0,3],[1,2],[0,1],[1,1],[3,3],[3,2],[2,3],[0,2],[0,1],[0,0],[3,2],[1,0],[1,0],[3,0],[0,1],[1,0],[0,2],[0,0],[3,0],[2,3],[3,1],[1,0],[0,3],[0,3],[0,1],[0,2],[3,3],[0,2],[3,2],[3,0],[3,1],[2,3],[3,3],[2,0],[0,2],[1,2],[3,3],[2,0],[0,2],[1,2],[3,3],[3,0],[0,0],[3,0],[1,2],[3,0],[1,3],[0,3],[0,1],[0,3],[0,3],[2,3],[2,2],[0,2],[3,0],[2,0],[0,3],[0,1],[2,3],[3,2],[2,3],[0,2],[0,2],[3,1],[2,0],[2,3],[0,2],[0,2],[3,1],[2,0],[2,3],[1,3],[3,0],[0,2]]

In [10]:
len(transcript)

143

In [30]:
bintranscript = [[format(fst, '#04b'), format(snd, '#04b')] for fst, snd in transcript]
bintranscript[:5]

[['0b10', '0b00'],
 ['0b11', '0b11'],
 ['0b10', '0b10'],
 ['0b10', '0b01'],
 ['0b00', '0b00']]

XOR bintranscript and newspaper

In [34]:
int(bintranscript[0][0], 2) ^ int(bintranscript[3][1], 2)

3

In [24]:
polybius = pd.DataFrame(np.array(list(filter(lambda a: a!="z", list(string.ascii_lowercase)))).reshape((5,5)))
polybius

   0  1  2  3  4
0  a  b  c  d  e
1  f  g  h  i  j
2  k  l  m  n  o
3  p  q  r  s  t
4  u  v  w  x  y