In [23]:
from collections import Counter
import string

import pandas as pd

In [24]:
etao = "ETAOINSHRDLCUMWFGYPBVKJXQZ".lower()

In [25]:
testo = "Klkbnqlcytfysryucocphgbdizzfcmjwkuchzyeswfogmmetwwossdchrzyldsbwnydednzwnefydthtddbojicemlucdygicczhoadrzcylwadsxpilpiecskomoltejtkmqqymehpmmjxyolwpeewjckznpccpsvsxauyodhalmriocwpelwbcniyfxmwjcemcyrazdqlsomdbfljwnbijxpddsyoehxpceswtoxwbleecsaxcnuetzywfn".lower()

In [26]:
len(testo)

253

In [27]:
df = pd.DataFrame.from_records([Counter(testo)]).T
df.columns = ["freq"]
df.sort_values(by=['freq'], ascending=False, inplace=True)
df["etao"] = list(etao)[:df.size]

In [29]:
len(etao)

26

In [30]:
df.head()

   freq etao
c    22    e
e    17    t
d    16    a
w    16    o
y    16    i

In [31]:
"".join([df["etao"].to_dict()[a] for a in testo])

'vsvycxseimpirjikehelwqyagddpenuovkewditrophqnntmoohrraewjdisaryociatacdoctpiamwmaayhugetnskeaiqgeedwhbajdeisobarflgslgtervhnhsmtumvnxxintwlnnufihsolttouevdcleelrzrfbkihawbsnjgheoltsoyecgipfnouetneijbdaxsrhnaypsuocyguflaarihtwfletromhfoystterbfecktmdiopc'