In [51]:
from collections import Counter
import string
from textwrap import wrap

import numpy as np
import pandas as pd

In [34]:
testo = "44541134541123335344541242 43424432514121231131135315 54425442444243443251415343 54324234411125513553341342 43225343114454345343225134 31421432513412533412155415 34513351444411225144425442 44441534512355154321345111 13112123514254315333214243 51445315341434512542531544 335154325341443 (cut off) 43513544"

In [35]:
len(testo.split(" ")[0])

26

In [65]:
polybius = pd.DataFrame(np.array(list(filter(lambda a: a!="z", list(string.ascii_lowercase)))).reshape((5,5)))
polybius

   0  1  2  3  4
0  a  b  c  d  e
1  f  g  h  i  j
2  k  l  m  n  o
3  p  q  r  s  t
4  u  v  w  x  y

In [78]:
"".join([polybius[int(coppia[0])-1][int(coppia[1])-1] for coppia in wrap("".join(testo.split(" ")[:10]) + testo.split(" ")[13], 2)])

'startalmostfinishedblackoutitisinshedonthirdaveworkingonastrongercipherforfuturemessagesitissurelyunbreakableitcombinesourpreviousnews'